<!-- views/index.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
  </head>
  <body>
    <% if (user) { %>
      <h1>Mudhakkarat <%= user.username %>!</h1>
      <p>
        <a href="/posts"> My Profile</a>
      </p>
      
      <a href="/auth/sign-out">Sign out</a>
      <% } else { %>
      <h1>Mudhakkarat</h1>

      <p>
        <a href="/auth/sign-up">Sign up</a> or <a href="/auth/sign-in">sign in</a>.
      </p>
      <% } %>

  </body>
</html>