<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

      <h1>Mudhakkarat <%= user.username %>!</h1>

      - THIS IS YOUR NOTES/POSTS

      <a href="./posts/new">Add a post</a>
      
      <a href="/auth/sign-out">Sign out</a>
  


</body>
</html>